<div class="pcard" [class.pcard--a]="team() === 'a'" [class.pcard--b]="team() === 'b'">

  <img class="pcard__avatar" [src]="player().image" [alt]="player().name" />

  <div class="pcard__info">
    <div class="pcard__top-row">
      <span class="pcard__name">{{ shortName() }}</span>
      <div class="pcard__tot-wrap">
        <span class="pcard__tot">{{ total() }}</span>
        <span class="pcard__tot-lbl">TOT</span>
      </div>
    </div>
    <div class="pcard__stats">
      @for (s of top2(); track s.label) {
        <div class="pcard__stat">
          <span class="pcard__stat-lbl">{{ s.label }}</span>
          <span class="pcard__stat-val">{{ s.value }}</span>
        </div>
      }
    </div>
  </div>

  <span class="pcard__fit" [style.background]="fitnessColor()"></span>

</div>
