<div class="pcard" [class.pcard--a]="team() === 'a'" [class.pcard--b]="team() === 'b'">

  <img class="pcard__avatar" [src]="player().image" [alt]="player().name" />

  <div class="pcard__info">
    <span class="pcard__name" [style.color]="fitnessColor()">{{ shortName() }}</span>
    <div class="pcard__row">
      @for (s of top2(); track s.label) {
        <span class="pcard__stat">
          <span class="pcard__lbl">{{ s.label }}</span>
          <span class="pcard__val">{{ s.value }}</span>
        </span>
      }
      <span class="pcard__stat pcard__stat--tot">
        <span class="pcard__lbl">TOT</span>
        <span class="pcard__val pcard__val--tot">{{ total() }}</span>
      </span>
    </div>
  </div>

  <span class="pcard__fit" [style.background]="fitnessColor()"></span>

</div>
